.results {
    width: 100%;
}

.resultItem{
    width: 100%;
    padding: .5em;
    margin: 0;
}

.resultsContainer {
    padding: .5em;
    width: 100%;
}
.buttons {
    width: 75%;
    align-content: space-evenly;
    margin-top: 5%;
    color:white;
    background-color: #512888;
    padding-top: 15px;
    padding-bottom: 35px;
}
.buttons2 {
    width: 90%;
    height: 75px;
    align-content: space-evenly;
    margin-top: 5%;
    color: white;
    background-color: #512888;
    padding-top: 15px;
    font-size: 70%;
    padding-bottom: 35px;
}
.resultsList {
    padding: 0;
    width: 100%;
    overflow: scroll;
    max-height: 500px;
}

.resultsTitle {
    padding: .5em;
    background-image: linear-gradient(#4f2684,#7137bd);
}

.divider{
    width: 100%;
    margin: 0;
}

.resultsTitleText{
    color: white;
}

.url {
    color: blue;
    font-size: 18px;
}

a {
    font-size: auto;
        color:white;
}

.search{
    color:white;
}

.examples {
    color: grey;
}